<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bookcrossing.mobile">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".modules.App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".ui.bookpreview.BookActivity"
            android:label="@string/title_activity_book"
            android:parentActivityName=".ui.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookcrossing.mobile.ui.main.MainActivity" />
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <activity
            android:name=".ui.acquire.BookAcquireActivity"
            android:label="@string/title_activity_book_acquire"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="@string/package_name"
                    android:path="/book"
                    android:scheme="bookcrossing" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.map.MapActivity"
            android:label="@string/title_activity_map">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookcrossing.mobile.ui.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.scan.ScanActivity"
            android:label="@string/title_activity_scan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookcrossing.mobile.ui.main.MainActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCu5YKw0UZ4RG5_DimoZxUWaQU_hTbz4wI" />
        <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES" android:value="barcode"/>

    </application>

</manifest>